<!-- Navbar using Bootstrap -->
<nav class="navbar navbar-expand-lg bg-dark">
    <a class="navbar-brand text-white" href="#">SIDDHINATH HOSPITALS</a>
    <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a
                    class="nav-link active text-white"
                    aria-current="page"
                    href="javascript:void(0);"
                    routerLink="/docdash"
                >
                    Back
                </a>
            </li>
        </ul>
    </div>
</nav>

<!-- Container for content -->
<div class="container mt-4">
    <!-- Bootstrap card component for a styled container -->
    <div class="card p-4 shadow-sm">
        <h5 class="card-title">Patient Details</h5>
        <!-- Bootstrap table component -->
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{patient.id}}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{patient.name}}</td>
                </tr>
                <tr>
                    <th>Age</th>
                    <td>{{patient.age}}</td>
                </tr>
                <tr>
                    <th>Blood Group</th>
                    <td>{{patient.blood}}</td>
                </tr>
                <tr>
                    <th>Dose</th>
                    <td>{{patient.dose}}</td>
                </tr>
                <tr>
                    <th>Fees</th>
                    <td>{{patient.fees}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
